!*.org
*.db
*/agenda.org
agenda.org
inbox.org
ledger.org
*/inbox.org
#*
*#
roam/ltximg/
.orgids
.auctex-auto/
.ninja_log
public/
.hugo_build.lock
other/
*.tex
*.pyg
*.pygtex
*.pygstyle
*.log
*.aux
journal/
